# 安裝Pyspark

In [15]:
!apt-get -y install openjdk-8-jre-headless
!pip install pyspark
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession.builder.master("local").getOrCreate()
sc = SparkContext.getOrCreate()

Reading package lists... Done
Building dependency tree
Reading state information... Done
openjdk-8-jre-headless is already the newest version (8u312-b07-0ubuntu1~18.04).
0 upgraded, 0 newly installed, 0 to remove and 39 not upgraded.
Requirement already satisfied: pyspark in /usr/local/lib/python3.7/dist-packages (3.2.1)
Requirement already satisfied: py4j==0.10.9.3 in /usr/local/lib/python3.7/dist-packages (from pyspark) (0.10.9.3)

In [16]:
rdd = sc.parallelize(["Hello Spark"])
counts = rdd.flatMap(lambda line: line.split(" ")) \
    .map(lambda word: (word, 1)) \
    .reduceByKey(lambda a, b: a + b) \
    .collect()
print(counts)

[('Hello', 1), ('Spark', 1)]

In [17]:
from google.colab import drive
import os
drive.mount('/content/gdrive')
%cd gdrive/My\ Drive/Colab Notebooks/bigdata/HW2/
!ls

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).
[Errno 2] No such file or directory: 'gdrive/My Drive/Colab Notebooks/bigdata/HW2/'
/content/gdrive/My Drive/Colab Notebooks/bigdata/HW2
2000.csv  2002.csv  2004.csv  2007.csv	hw2.ipynb
2001.csv  2003.csv  2005.csv  2008.csv

In [18]:
from pyspark.sql import SparkSession
from pyspark import SparkContext
spark = SparkSession.builder.master("airline").getOrCreate()

# Q1: 2007 maximal delays (ArrDelay/DepDelay)

In [19]:
df = spark.read.csv('2007.csv',sep=',',header=True,inferSchema=True)
df.show(10, False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2007|1    |1         |1        |1232   |1225      |1341   |1340      |WN           |2891     |N351   |69               |75            |54     |1       |7       |SMF   |ONT |389     |4     |11     |0        |null            |0       |0           |0           |0       |0            |0                |
|2007|1    |1         |1        |1918   |1905      |2043   |2035      |WN           |462      |N370   |85               |90            |74     |8       |13      |SMF   |PDX |479     |5     |6      |0        |null            |0       |0           |0           |0       |0            |0                |
|2007|1    |1         |1        |2206   |2130      |2334   |2300      |WN           |1229     |N685   |88               |90            |73     |34      |36      |SMF   |PDX |479     |6     |9      |0        |null            |0       |3           |0           |0       |0            |31               |
|2007|1    |1         |1        |1230   |1200      |1356   |1330      |WN           |1355     |N364   |86               |90            |75     |26      |30      |SMF   |PDX |479     |3     |8      |0        |null            |0       |23          |0           |0       |0            |3                |
|2007|1    |1         |1        |831    |830       |957    |1000      |WN           |2278     |N480   |86               |90            |74     |-3      |1       |SMF   |PDX |479     |3     |9      |0        |null            |0       |0           |0           |0       |0            |0                |
|2007|1    |1         |1        |1430   |1420      |1553   |1550      |WN           |2386     |N611SW |83               |90            |74     |3       |10      |SMF   |PDX |479     |2     |7      |0        |null            |0       |0           |0           |0       |0            |0                |
|2007|1    |1         |1        |1936   |1840      |2217   |2130      |WN           |409      |N482   |101              |110           |89     |47      |56      |SMF   |PHX |647     |5     |7      |0        |null            |0       |46          |0           |0       |0            |1                |
|2007|1    |1         |1        |944    |935       |1223   |1225      |WN           |1131     |N749SW |99               |110           |86     |-2      |9       |SMF   |PHX |647     |4     |9      |0        |null            |0       |0           |0           |0       |0            |0                |
|2007|1    |1         |1        |1537   |1450      |1819   |1735      |WN           |1212     |N451   |102              |105           |90     |44      |47      |SMF   |PHX |647     |5     |7      |0        |null            |0       |20          |0           |0       |0            |24               |
|2007|1    |1         |1        |1318   |1315      |1603   |1610      |WN           |2456     |N630WN |105              |115           |92     |-7      |3       |SMF   |PHX |647     |5     |8      |0        |null            |0       |0           |0           |0       |0            |0                |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 10 rows

In [20]:
print (df.columns)

['Year', 'Month', 'DayofMonth', 'DayOfWeek', 'DepTime', 'CRSDepTime', 'ArrTime', 'CRSArrTime', 'UniqueCarrier', 'FlightNum', 'TailNum', 'ActualElapsedTime', 'CRSElapsedTime', 'AirTime', 'ArrDelay', 'DepDelay', 'Origin', 'Dest', 'Distance', 'TaxiIn', 'TaxiOut', 'Cancelled', 'CancellationCode', 'Diverted', 'CarrierDelay', 'WeatherDelay', 'NASDelay', 'SecurityDelay', 'LateAircraftDelay']

In [35]:
from pyspark.sql.functions import desc

找出出發延遲時間>0的項，依月分加總，再由大到小排序

In [68]:
df1 = df.filter(df.ArrDelay>0)
df1 = df1.groupBy('Month').count()
df1.sort(desc("count")).show()

+-----+------+
|Month| count|
+-----+------+
|    6|295897|
|    3|294556|
|   12|280493|
|    1|279427|
|    2|278902|
|    7|264630|
|    4|256142|
|    5|254673|
|    8|239737|
|   10|183582|
|   11|181506|
|    9|169959|
+-----+------+

In [33]:
df1 = df.groupBy('Month').agg({"ArrDelay":"sum"})
# df1.show()
df1.sort(desc("sum(ArrDelay)")).show()

+-----+-------------+
|Month|sum(ArrDelay)|
+-----+-------------+
|    7|  2.9787755E7|
|    6|  2.9273457E7|
|   12|  2.8387198E7|
|    8|  2.5634905E7|
|    1|  1.9350695E7|
|    3|  1.8177128E7|
|    2|  1.7677022E7|
|    5|  1.4880815E7|
|   11|  1.3944817E7|
|    4|  1.0923485E7|
|   10|  1.0362077E7|
|    9|    5861210.0|
+-----+-------------+

In [34]:
df1 = df.groupBy('Month').agg({"ArrDelay":"mean"})
# df1.show()
df1.sort(desc("avg(ArrDelay)")).show()

+-----+------------------+
|Month|     avg(ArrDelay)|
+-----+------------------+
|   12| 9.505191706395525|
|    6| 9.439898936967818|
|    7| 9.265966020986397|
|    8|  7.91506136626785|
|    1| 6.326686246539656|
|    2| 6.225167153471292|
|    3| 5.727969829186254|
|   11| 4.752403837961521|
|    5| 4.731699057527695|
|    4|3.5584525539550884|
|   10| 3.361293189717672|
|    9| 2.010846724488875|
+-----+------------------+

In [39]:
df2 = df.filter(df.DepDelay>0)
df2 = df2.groupBy('Month').count()
df2.sort(desc("count")).show()

+-----+-------+
|Month|  count|
+-----+-------+
|   12|1307151|
|    7|1305176|
|    6|1260305|
|    8|1235339|
|    3|1148270|
|    1|1109805|
|   11|1025116|
|    2|1020607|
|    5|1020520|
|   10| 996036|
|    4| 982291|
|    9| 818492|
+-----+-------+

In [23]:
df2 = df.groupBy('Month').agg({"DepDelay": "sum"})
# _df1.show()
df2.sort(desc("sum(DepDelay)")).show()

+-----+-------------+
|Month|sum(DepDelay)|
+-----+-------------+
|    6|    9923997.0|
|   12|    9601694.0|
|    7|    9400459.0|
|    8|    8663460.0|
|    2|    7574116.0|
|    3|    7366421.0|
|    1|    6231524.0|
|    4|    6082001.0|
|    5|    5203821.0|
|   10|    4964959.0|
|   11|    4459718.0|
|    9|    3655695.0|
+-----+-------------+

In [24]:
df2 = df.groupBy('Month').agg({"DepDelay": "mean"})
# _df1.show()
df2.sort(desc("avg(DepDelay)")).show()

+-----+------------------+
|Month|     avg(DepDelay)|
+-----+------------------+
|    6|16.214701071994014|
|   12|16.201398473962534|
|    7|14.802613636005757|
|    2| 14.02253123732965|
|    8|13.515875591278409|
|    3|11.836802542694253|
|    1|10.286743415948312|
|    4| 10.07771370814071|
|    5| 8.329205401044868|
|   10| 7.973724233737243|
|   11| 7.446888306310218|
|    9| 6.157685958765665|
+-----+------------------+

# Q2: flights were delayed caused by **security** between 2000~2005 (each year)

In [25]:
path = ['2000.csv','2001.csv','2002.csv','2003.csv','2004.csv','2005.csv']
df = spark.read.csv(path,sep=',',header=True,inferSchema=True)
df.show(10, False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2000|1    |28        |5        |1647   |1647      |1906   |1859      |HP           |154      |N808AW |259              |252           |233    |7       |0       |ATL   |PHX |1587    |15    |11     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |29        |6        |1648   |1647      |1939   |1859      |HP           |154      |N653AW |291              |252           |239    |40      |1       |ATL   |PHX |1587    |5     |47     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |30        |7        |NA     |1647      |NA     |1859      |HP           |154      |N801AW |NA               |252           |NA     |NA      |NA      |ATL   |PHX |1587    |0     |0      |1        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |31        |1        |1645   |1647      |1852   |1859      |HP           |154      |N806AW |247              |252           |226    |-7      |-2      |ATL   |PHX |1587    |7     |14     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |1         |6        |842    |846       |1057   |1101      |HP           |609      |N158AW |255              |255           |244    |-4      |-4      |ATL   |PHX |1587    |3     |8      |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |2         |7        |849    |846       |1148   |1101      |HP           |609      |N656AW |299              |255           |267    |47      |3       |ATL   |PHX |1587    |8     |24     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |3         |1        |844    |846       |1121   |1101      |HP           |609      |N803AW |277              |255           |244    |20      |-2      |ATL   |PHX |1587    |6     |27     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |1         |6        |1702   |1657      |1912   |1908      |HP           |611      |N652AW |250              |251           |232    |4       |5       |ATL   |PHX |1587    |5     |13     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |2         |7        |1658   |1657      |1901   |1908      |HP           |611      |N807AW |243              |251           |233    |-7      |1       |ATL   |PHX |1587    |3     |7      |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
|2000|1    |3         |1        |1656   |1657      |1922   |1908      |HP           |611      |N807AW |266              |251           |241    |14      |-1      |ATL   |PHX |1587    |5     |20     |0        |NA              |0       |NA          |NA          |NA      |NA           |NA               |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 10 rows

In [40]:
df2 = df.filter(df.SecurityDelay>0)
df2.show(5,False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2003|6    |27        |5        |1946   |1640      |2058   |1751      |UA           |888      |N571UA |72               |71            |50     |187     |186     |LAX   |SFO |337     |4     |18     |0        |null            |0       |0           |0           |1       |186          |0                |
|2003|6    |27        |5        |1914   |1615      |2014   |1722      |UA           |935      |N367UA |60               |67            |45     |172     |179     |LAX   |LAS |236     |5     |10     |0        |null            |0       |0           |0           |0       |172          |0                |
|2003|6    |27        |5        |2043   |1700      |2319   |1929      |UA           |1028     |N396UA |156              |149           |129    |230     |223     |LAX   |SEA |954     |4     |23     |0        |null            |0       |0           |0           |7       |199          |24               |
|2003|6    |27        |5        |1947   |1800      |2057   |1914      |UA           |1412     |N465UA |70               |74            |50     |103     |107     |LAX   |SFO |337     |5     |15     |0        |null            |0       |0           |0           |0       |103          |0                |
|2003|6    |27        |5        |1830   |1545      |1936   |1659      |UA           |1414     |N541UA |66               |74            |49     |157     |165     |LAX   |SFO |337     |3     |14     |0        |null            |0       |0           |0           |0       |157          |0                |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 5 rows

In [41]:
dftime = df2.groupBy('Year').agg({"SecurityDelay": "sum"})
dftime.sort(desc("sum(SecurityDelay)")).show()

+----+------------------+
|Year|sum(SecurityDelay)|
+----+------------------+
|2004|          179219.0|
|2005|          141045.0|
|2003|           80663.0|
+----+------------------+

In [42]:
dfyear = df2.groupBy('Year').count()
dfyear.show()

+----+-----+
|Year|count|
+----+-----+
|2003| 3740|
|2004| 8158|
|2005| 6627|
+----+-----+

# Q3: Top 5 airports which occur delays most and least in 2008 (show the IATA airport code)

Origin(DepDelay)和Dest(ArrDelay)應該一起算，occur ->算次數

In [43]:
df = spark.read.csv('2008.csv',sep=',',header=True,inferSchema=True)
df.show(10, False)

+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|Year|Month|DayofMonth|DayOfWeek|DepTime|CRSDepTime|ArrTime|CRSArrTime|UniqueCarrier|FlightNum|TailNum|ActualElapsedTime|CRSElapsedTime|AirTime|ArrDelay|DepDelay|Origin|Dest|Distance|TaxiIn|TaxiOut|Cancelled|CancellationCode|Diverted|CarrierDelay|WeatherDelay|NASDelay|SecurityDelay|LateAircraftDelay|
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
|2008|1    |3         |4        |2003   |1955      |2211   |2225      |WN           |335      |N712SW |128              |150           |116    |-14     |8       |IAD   |TPA |810     |4     |8      |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |754    |735       |1002   |1000      |WN           |3231     |N772SW |128              |145           |113    |2       |19      |IAD   |TPA |810     |5     |10     |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |628    |620       |804    |750       |WN           |448      |N428WN |96               |90            |76     |14      |8       |IND   |BWI |515     |3     |17     |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |926    |930       |1054   |1100      |WN           |1746     |N612SW |88               |90            |78     |-6      |-4      |IND   |BWI |515     |3     |7      |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |1829   |1755      |1959   |1925      |WN           |3920     |N464WN |90               |90            |77     |34      |34      |IND   |BWI |515     |3     |10     |0        |null            |0       |2           |0           |0       |0            |32               |
|2008|1    |3         |4        |1940   |1915      |2121   |2110      |WN           |378      |N726SW |101              |115           |87     |11      |25      |IND   |JAX |688     |4     |10     |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |1937   |1830      |2037   |1940      |WN           |509      |N763SW |240              |250           |230    |57      |67      |IND   |LAS |1591    |3     |7      |0        |null            |0       |10          |0           |0       |0            |47               |
|2008|1    |3         |4        |1039   |1040      |1132   |1150      |WN           |535      |N428WN |233              |250           |219    |-18     |-1      |IND   |LAS |1591    |7     |7      |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |617    |615       |652    |650       |WN           |11       |N689SW |95               |95            |70     |2       |2       |IND   |MCI |451     |6     |19     |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
|2008|1    |3         |4        |1620   |1620      |1639   |1655      |WN           |810      |N648SW |79               |95            |70     |-16     |0       |IND   |MCI |451     |3     |6      |0        |null            |0       |NA          |NA          |NA      |NA           |NA               |
+----+-----+----------+---------+-------+----------+-------+----------+-------------+---------+-------+-----------------+--------------+-------+--------+--------+------+----+--------+------+-------+---------+----------------+--------+------------+------------+--------+-------------+-----------------+
only showing top 10 rows

In [49]:
from pyspark.sql.functions import col

In [50]:
dp = df.filter(df.DepDelay>0)
dpdelay=dp.groupBy('Origin').count()
dpdelay = dpdelay.select(col("Origin").alias("Country"), col("count").alias("CountDp"))
dpdelay.show()

+-------+-------+
|Country|CountDp|
+-------+-------+
|    BGM|    128|
|    PSE|    127|
|    MSY|  15229|
|    GEG|   5333|
|    SNA|  17869|
|    BUR|  12233|
|    GRB|   2268|
|    GTF|    399|
|    IDA|    683|
|    GRR|   4598|
|    EUG|   1368|
|    PSG|    329|
|    PVD|   8497|
|    GSO|   3782|
|    MYR|   1198|
|    OAK|  29189|
|    MSN|   4103|
|    COD|    161|
|    FAR|   1085|
|    BTM|    101|
+-------+-------+
only showing top 20 rows

In [51]:
arr = df.filter(df.ArrDelay>0)
arrdelay=arr.groupBy('Dest').count()
arrdelay = arrdelay.select(col("Dest").alias("Country"), col("count").alias("CountArr"))
arrdelay.show()

+-------+--------+
|Country|CountArr|
+-------+--------+
|    BGM|     229|
|    PSE|     310|
|    MSY|   16799|
|    GEG|    7337|
|    BUR|   11903|
|    SNA|   19231|
|    GRB|    3514|
|    GTF|     793|
|    IDA|    1065|
|    GRR|    7453|
|    EUG|    2327|
|    PSG|     311|
|    PVD|    9079|
|    MYR|    2283|
|    GSO|    6150|
|    OAK|   24526|
|    MSN|    6161|
|    COD|     389|
|    FAR|    1859|
|    BTM|     187|
+-------+--------+
only showing top 20 rows

In [52]:
df_concat = dpdelay.join(arrdelay, on='Country')
df_concat.show()

+-------+-------+--------+
|Country|CountDp|CountArr|
+-------+-------+--------+
|    BGM|    128|     229|
|    PSE|    127|     310|
|    MSY|  15229|   16799|
|    GEG|   5333|    7337|
|    BUR|  12233|   11903|
|    SNA|  17869|   19231|
|    GRB|   2268|    3514|
|    GTF|    399|     793|
|    IDA|    683|    1065|
|    GRR|   4598|    7453|
|    EUG|   1368|    2327|
|    PSG|    329|     311|
|    PVD|   8497|    9079|
|    MYR|   1198|    2283|
|    GSO|   3782|    6150|
|    OAK|  29189|   24526|
|    MSN|   4103|    6161|
|    COD|    161|     389|
|    FAR|   1085|    1859|
|    BTM|    101|     187|
+-------+-------+--------+
only showing top 20 rows

In [72]:
from pyspark.sql import functions as F
from pyspark.sql.functions import asc
merge=df_concat.groupBy("Country").agg(F.sum(df_concat.CountDp+df_concat.CountArr))
merge1=merge.sort(desc("sum((CountDp + CountArr))"))
merge1.show(5)
merge2=merge.sort(asc("sum((CountDp + CountArr))"))
merge2.show(5)

+-------+-------------------------+
|Country|sum((CountDp + CountArr))|
+-------+-------------------------+
|    ATL|                   362260|
|    ORD|                   311298|
|    DFW|                   247566|
|    DEN|                   207095|
|    LAX|                   180766|
+-------+-------------------------+
only showing top 5 rows

+-------+-------------------------+
|Country|sum((CountDp + CountArr))|
+-------+-------------------------+
|    TUP|                        3|
|    PIR|                        7|
|    BJI|                       16|
|    INL|                       18|
|    BLI|                       45|
+-------+-------------------------+
only showing top 5 rows